
<ion-content [fullscreen]="true">
  <div class="contenedor">
    <ion-fab slot="fixed" horizontal="start" vertical="start">
      <ion-fab-button size="small" [disabled]="!jugando">
        {{idiomaString}}
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="cambiarEsp()">
          🇦🇷
        </ion-fab-button>
        <ion-fab-button (click)="cambiarEng()">
          🇬🇧
        </ion-fab-button>
        <ion-fab-button (click)="cambiarPtg()">
          🇵🇹
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab slot="fixed" horizontal="end" vertical="start">
      <ion-fab-button size="small" [disabled]="!jugando">
        {{tipoString}}
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="cambiarColores()">
          🎨
        </ion-fab-button>
        <ion-fab-button (click)="cambiarNumeros()">
          💯
        </ion-fab-button>
        <ion-fab-button (click)="cambiarAnimales()">
          🐮
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <div class="top">
      <button (click)="cerrarSesion()"><ion-icon name="return-up-back"></ion-icon></button>
    </div>
    <div *ngIf="tipo == EnumTipo.animales" class="bot">
      <div *ngFor="let item of animales" class="cuadrilla" (click)="iniciarSonido(item)">
        <img [src]="'../../assets/'+item+'.png'" alt="">
      </div>
    </div>
    <div *ngIf="tipo == EnumTipo.colores" class="bot">
      <div class="cuadrilla" (click)="iniciarSonido('rojo')">
        <div class="rojo imgcolor2"></div>
      </div>
      <div class="cuadrilla" (click)="iniciarSonido('azul')">
        <div class="azul imgcolor"></div>
      </div>
      <div class="cuadrilla" (click)="iniciarSonido('verde')">
        <div class="verde imgcolor2"></div>
      </div>
      <div class="cuadrilla" (click)="iniciarSonido('amarillo')">
        <div class="amarillo imgcolor"></div>
      </div>
      <div class="cuadrilla" (click)="iniciarSonido('celeste')">
        <div class="celeste imgcolor2"></div>
      </div>
      <div class="cuadrilla" (click)="iniciarSonido('naranja')">
        <div class="naranja imgcolor"></div>
      </div>
    </div>
    <div *ngIf="tipo == EnumTipo.numeros" class="bot">
      <div class="cuadrilla" (click)="iniciarSonido('uno')">1</div>
      <div class="cuadrilla" (click)="iniciarSonido('dos')">2</div>
      <div class="cuadrilla" (click)="iniciarSonido('tres')">3</div>
      <div class="cuadrilla" (click)="iniciarSonido('cuatro')">4</div>
      <div class="cuadrilla" (click)="iniciarSonido('cinco')">5</div>
      <div class="cuadrilla" (click)="iniciarSonido('seis')">6</div>
    </div>
  </div>
  <!-- <div *ngIf="!jugando" class="iniciador">
    <div [ngClass]="{correcto: ganaste, incorrecto: !ganaste}">
      <p *ngIf="ganaste">Correcto</p>
      <p *ngIf="!ganaste">Incorrecto</p>
      <button (click)="iniciarJuego()">Siguiente</button>
      <button *ngIf="!ganaste" (click)="volverAIntentar()">Volver A Intentar</button>
    </div>
  </div> -->
</ion-content>